body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

h1 {
  color: #3a3939;
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

button {
  padding: 9px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

button:hover {
  opacity: 0.85;
}

.add-btn {
  background-color: #4caf50;
  color: white;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.done-text {
  color: green;
  font-weight: 600;
}

.pending-text {
  color: orange;
  font-weight: 600;
}

.action-btns button {
  margin-left: 6px;
}

.toggle-btn {
  background-color: #0275d8;
  color: white;
}

.delete-btn {
  background-color: #d9534f;
  color: white;
}
